import init.lge.usb.rc
import init.target.rc

on early-boot
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

on boot
# yennie.kang for AMI306
    chown compass system /dev/k3g_misc
    chmod 0660 /dev/k3g_misc
    chown compass system /dev/k3dh_acc_misc
    chmod 0660 dev/k3dh_acc_misc
    chown compass system /dev/ami306
    chmod 0660 dev/ami306
    chown compass system /dev/ami306daemon
    chmod 0660 dev/ami306daemon
    chown compass system /dev/ami306hal
    chmod 0660 dev/ami306hal
    mkdir /data/amit 0770 compass system
    mkdir /data/gesture 0770 compass system
    chown system system /sys/devices/virtual/input/lge_touch/keyguard

    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock

    chmod 0444 /proc/cmdline
    chown system system /sys/devices/platform/msm-charger/at_charge
    chown system system /sys/devices/platform/msm-charger/at_chcomp
    chown system system /sys/devices/platform/msm-charger/at_fuelrst
    chown system system /sys/devices/platform/msm-charger/at_fuelval
    chown system system /sys/devices/platform/msm-charger/at_pmrst
    chown system system /sys/devices/platform/msm-charger/at_batl

    # Torch perms
    chown system camera /sys/class/leds/spotlight/brightness
    chmod 0660 /sys/class/leds/spotlight/brightness

    # XXXTDM: temporary hack to get adb to work
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 6204
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions diag,adb
    write /sys/class/android_usb/android0/enable 1

on init
    export TMPDIR /data/local/tmp
    export EXTERNAL_STORAGE /mnt/sdcard

# Backward compatibility
    symlink /system/bin /bin

# create mountpoints for storage
    mkdir /mnt/sdcard 0000 system system
    symlink /mnt/sdcard /sdcard

on emmc-fs
    #write /dev/bootprog 1

    mkdir /system
    wait /dev/block/mmcblk0p26
    mount ext4 /dev/block/mmcblk0p26 /system ro barrier=1 data=ordered

    wait /dev/block/mmcblk0p28
    exec /system/bin/e2fsck -y /dev/block/mmcblk0p28
    mount ext4 /dev/block/mmcblk0p28 /data nosuid nodev barrier=1 data=ordered noauto_da_alloc

    #persist
    mkdir /persist 0771 system system
    wait /dev/block/mmcblk0p12
    exec /system/bin/e2fsck -y /dev/block/mmcblk0p12
    mount ext4 /dev/block/mmcblk0p12 /persist nosuid nodev barrier=1 data=ordered

    #cache
    mkdir /cache 0771 system system
    wait /dev/block/mmcblk0p27
    exec /system/bin/e2fsck -y /dev/block/mmcblk0p27
    mount ext4 /dev/block/mmcblk0p27 /cache nosuid nodev barrier=1 data=ordered

    #mpt
    mkdir /mpt 0771 system system
    wait /dev/block/mmcblk0p29
    exec /system/bin/e2fsck -y /dev/block/mmcblk0p29
    mount ext4 /dev/block/mmcblk0p29 /mpt nosuid nodev barrier=1 data=ordered

   mkdir /tombstones 0771 system system
   # XXX: check this
   mount ext4 /dev/block/mmcblk0p22 /tombstones nosuid nodev barrier=1
   mkdir /tombstones/modem 0771 system system
   mkdir /tombstones/mdm 0771 system system
   mkdir /tombstones/lpass 0771 system system
   mkdir /firmware 0771 system system
   # XXX: check this
   mount vfat /dev/block/mmcblk0p1 /firmware ro shortname=lower
   exec /system/bin/sh /system/etc/init.qcom.modem_links.sh

on post-fs
    # mpt partition attribute
    chown system system /mpt
    chmod 0771 /mpt
    mkdir /data/radio 0770 radio radio
    mkdir /data/misc/sensors 0775 root root
    write /data/system/sensors/settings 0
    chmod 0664 /data/system/sensors/settings
    # We chown/chmod /lgdrm again so because mount is run as root + defaults
    mkdir /lgdrm 0770 lgdrm lgdrm_acc
    # XXX: does not exist
    mount yaffs2 mtd@lgdrm /lgdrm nosuid nodev
    chown lgdrm lgdrm_acc /lgdrm
    chmod 0770 /lgdrm

    # create dirs if not exist
    mkdir /data/lgdrm 0770 lgdrm lgdrm_acc
    mkdir /data/wmdrm 0770 lgdrm lgdrm_acc
## ANDY_END

on post-fs-data
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    setprop vold.post_fs_data_done 1

service chargerlogo /charger
    class charger
    user root

on property:init.svc.chargerlogo=running
    setprop sys.usb.config adb
    start rmt_storage

# Changed partition layout and size, 20110528
# XXX: check this
service rmt_storage /system/bin/rmt_storage /dev/block/mmcblk0p10 /dev/block/mmcblk0p11 /dev/block/mmcblk0p13
    user root
    disabled

on property:ro.emmc=1
    start rmt_storage

service qmiproxy /system/bin/qmiproxy
    user radio
    group radio
    disabled

service qmuxd /system/bin/qmuxd
    user radio
    group radio
    disabled

service qrngd /system/bin/qrngd -f
    class main
    user root

service netmgrd /system/bin/netmgrd
    class main
    disabled

service qcom-sh /system/bin/sh /init.qcom.sh
    class main
    user root
    oneshot

service qcom-post-boot /system/bin/sh /system/etc/init.qcom.post_boot.sh
    class main
    user root
    disabled
    oneshot

on property:init.svc.bootanim=stopped
    start qcom-post-boot

service kickstart /system/bin/qcks l
    class core
    user system
    group system
    oneshot
    disabled

service mpdecision /system/bin/mpdecision --no_sleep --avg_comp
    class main
    user root
    disabled

service thermald /system/bin/thermald
    class main
    user root
    group root
    disabled

service time_daemon /system/bin/time_daemon
    user system
    group system qcom_oncrpc
    oneshot
    disabled

service dhcpcd_wlan0 /system/bin/dhcpcd -BKAL
    class core
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant -Dnl80211 -iwlan0 -puse_p2p_group_interface=1 -e/data/misc/wifi/entropy.bin
    group system wifi inet
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service hciattach /system/bin/init.qcom.bt.sh
    class main
    #user bluetooth
    group bluetooth net_bt_admin
    # group qcom_oncrpc?
    disabled

on property:dev.bootcomplete=1
    exec /system/bin/hwaddrs

service ami304d /system/bin/ami304d
    class main
    user compass
    group system

service hdmid /system/bin/hdmid
    class late_start
    socket hdmid stream 0660 root system graphics
    disabled

on property:ro.hdmi.enable=true
    start hdmid

### END CM9 init.iprj.rc ###

on property:ro.product.device=msm7630_fusion
    start usbhub_init

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd


on property:init.svc.bluetoothd=running
    start btwlancoex
    start amp_load

on property:init.svc.bluetoothd=stopped
    start amp_unload
    stop btwlancoex

# Export GPIO56 for fusion targets to enable/disable hub
service usbhub_init /system/bin/usbhub_init
   user root
   disabled
   oneshot

service cnd /system/bin/cnd
    class main
    socket cnd stream 660 root radio

	
#+++ BRCM
# Make sure we startup btld before bluetoothd
# Set target address to emulator host loopback IF
# Limit baudrate to 460800 to ensure reliable uart operation
service btld /system/bin/logwrapper /system/bin/btld -pf /system/bin/BCM4330B14.hcd -hb 4000000 -lpm 1
    class main
    user root
    group bluetooth net_bt_admin
    disabled
    oneshot

# start btld if soft_onoff is enabled
on property:service.brcm.bt.soft_onoff=1
    start btld

# stop btld if soft_onoff is disabled
on property:service.brcm.bt.soft_onoff=0
    stop btld
				
#[minwoo2.kim@lge.com 2011-03-14] [BT]BSP ES2.0 migration
#service bt-dun /system/bin/dun-server /dev/smd7 /dev/rfcomm0
#    disabled
#    oneshot
#
#service dund /system/bin/sdptool add --channel=1 DUN
#    user bluetooth
#    group bluetooth net_bt_admin
#    disabled
#    oneshot
#[minwoo2.kim@lge.com 2011-03-14] [BT]BSP ES2.0 migration

# XXX: does not exist
service bridgemgrd /system/bin/bridgemgrd
    user radio
    group radio
    disabled

# XXX: does not exist
service port-bridge /system/bin/port-bridge /dev/smd0 /dev/ttyGS0
    user system
    group system inet
    disabled

on property:ro.baseband="msm"
    start port-bridge
    # Enable BT-DUN only for all msms
    setprop ro.qualcomm.bluetooth.dun true

on property:ro.baseband="unknown"
    start port-bridge

service sensors /system/bin/sensors.qcom
    user root
    group root
    disabled

on property:ro.use_data_netmgrd=false
    # netmgr not supported on specific target
    stop netmgrd

# Adjust socket buffer to enlarge TCP receive window for high bandwidth
# but only if ro.data.large_tcp_window_size property is set.
on property:ro.data.large_tcp_window_size=true
    write /proc/sys/net/ipv4/tcp_adv_win_scale  1

# XXX: does not exist
service btwlancoex /system/bin/sh /system/etc/init.qcom.coex.sh
    user shell
    group bluetooth net_bt_admin
    disabled
    oneshot

# XXX: does not exist
service amp_init /system/bin/amploader -i
    user root
    disabled
    oneshot

service amp_load /system/bin/amploader -l 7000
    user root
    disabled
    oneshot

service amp_unload /system/bin/amploader -u
    user root
    disabled
    oneshot

# XXX: does not exist
service wiperiface /system/bin/wiperiface
    user location
    group qcom_oncrpc
    oneshot

# XXX: does not exist
service gpsone_daemon /system/bin/gpsone_daemon
    user system 
    group qcom_oncrpc net_bt_admin inet radio wifi
    disabled

service fm_dl /system/bin/sh /system/etc/init.qcom.fm.sh
    user root
    group system qcom_oncrpc
    disabled
    oneshot

on property:crypto.driver.load=1
     insmod /system/lib/modules/qce.ko
     insmod /system/lib/modules/qcedev.ko

on property:crypto.driver.load=0
     exec /system/bin/rmmod qcedev.ko
     exec /system/bin/rmmod qce.ko

# XXX: does not exist
service drmdiag /system/bin/drmdiagapp
     user root
     disabled
     oneshot

on property:drmdiag.load=1
    start drmdiag

on property:drmdiag.load=0
    stop drmdiag

# XXX: does not exist
service qcom-wifi /system/bin/sh /system/etc/init.qcom.wifi.sh
    user root
    disabled
    oneshot

on property:init.svc.bootanim=stopped
    start qcom-post-boot
    start qcom-wifi

# XXX: does not exist
service ckpd /system/bin/CKPD-daemon
    user system
    group system radio
    disabled
    onrestart /system/bin/log -t RIL-CKPD -p w "CKPD daemon restarted"

on property:ro.service.ckpd.enable=1
    start ckpd

# XXX: does not exist
service atfwd /system/bin/ATFWD-daemon
    user system
    group system radio
    onrestart /system/bin/log -t RIL-ATFWD -p w "ATFWD daemon restarted"

# XXX: does not exist
service abld /system/bin/mm-abl-daemon
    disabled

service hostapd /system/bin/hostapd -dddd /data/hostapd/hostapd.conf
    class main
    user root
    group root
    oneshot
    disabled

# XXX: does not exist
service ds_fmc_appd /system/bin/ds_fmc_appd -p "rmnet0" -D
    group radio
    disabled
    oneshot

on property:persist.data.ds_fmc_app.mode=1
    start ds_fmc_appd

# XXX: does not exist
service ims_regmanager /system/bin/exe-ims-regmanagerprocessnative
    user system
    group qcom_oncrpc net_bt_admin inet radio wifi
    disabled

on property:persist.ims.regmanager.mode=1
    start ims_regmanager

on property:ro.data.large_tcp_window_size=true
    # Adjust socket buffer to enlarge TCP receive window for high bandwidth (e.g. DO-RevB)
    write /proc/sys/net/ipv4/tcp_adv_win_scale  1

on property:persist.thermal.monitor=true
    start thermald

on property:persist.timed.enable=true
    mkdir /data/time/ 0700
	chown system system /data/time
	chmod 0640 /dev/rtc0
	chown root system /dev/rtc0
    start time_daemon

#+++ BRCM
#service ftp /system/bin/sdptool add --channel=20 FTP
#    user bluetooth
#    group bluetooth net_bt_admin
#    disabled
#    oneshot
#
#service map /system/bin/sdptool add --channel=16 MAS
#    user bluetooth
#    group bluetooth net_bt_admin
#    disabled
#    oneshot
#--- BRCM

service ril-daemon1 /system/bin/rild -c 1
    class main
    socket rild1 stream 660 root radio
    socket rild-debug1 stream 660 radio system
    user root
    disabled
    group radio cache inet misc audio sdcard_rw qcom_oncrpc diag

# XXX: does not exist
service profiler_daemon /system/bin/profiler_daemon
    user root
    group root
    disabled
