<?xml version="1.0" encoding="UTF-8"?>
<parameters>
	<parameter db="secure" name="bluetooth_on">0</parameter>
	<parameter db="secure" name="data_roaming">0</parameter>
	<parameter db="secure" name="install_non_market_apps">0</parameter>
	<parameter db="secure" name="location_providers_allowed"></parameter>
	<parameter db="secure" name="assisted_gps_enabled">0</parameter>
	<parameter db="secure" name="network_preference">1</parameter>
	<parameter db="secure" name="usb_mass_storage_enabled">1</parameter>
	<parameter db="secure" name="wifi_on">1</parameter>
	<parameter db="secure" name="wifi_networks_available_notification_on">1</parameter>
	<parameter db="secure" name="preferred_network_mode">8</parameter>
	<parameter db="secure" name="cdma_cell_broadcast_sms">1</parameter>
	<!--parameter db="secure" name="mock_location">1</parameter-->
	<parameter db="secure" name="backup_enabled">0</parameter>
	<parameter db="secure" name="backup_transport">com.google.android.backup/.BackupTransportService</parameter>
	<parameter db="secure" name="mount_play_not_snd">1</parameter>
	<parameter db="secure" name="mount_ums_autostart">0</parameter>
	<parameter db="secure" name="mount_ums_prompt">1</parameter>
	<parameter db="secure" name="mount_ums_notify_enabled">1</parameter>
	<parameter db="secure" name="wifi_ap_ssid">AndroidAP</parameter>
	<parameter db="secure" name="wifi_ap_security">1</parameter>
	<parameter db="secure" name="wifi_ap_passwd"></parameter>
	<parameter db="secure" name="default_input_method">com.lge.ime/.LgeImeImpl</parameter>
	<parameter db="secure" name="enabled_input_methods">com.swype.android.inputmethod/.SwypeInputMethod:com.lge.ime/.LgeImeImpl:com.google.android.voicesearch/.ime.VoiceInputMethodService</parameter>
	<parameter db="secure" name="vzw_service_number">611</parameter>
	<!--parameter db="secure" name="android_id">5fe405753166f12</parameter-->
	<!-- Delete : juil.kang@lge.com 2011.9.10 User mode : 0, Debug mode : 1 
	<parameter db="secure" name="adb_enabled">1</parameter>
	-->
	<parameter db="secure" name="voice_recognition_service">com.google.android.voicesearch/.GoogleRecognitionService</parameter>
	<!--parameter db="secure" name="throttle_reset_day">13</parameter-->
	<!--parameter db="secure" name="subscription_mode">0</parameter-->
	<parameter db="secure" name="data_ehrpd_internet_ipv6_enabled">1</parameter>

	<parameter db="secure" name="accessibility_script_injection">0</parameter>
	<parameter db="secure" name="frontkey_led_timeout">1500</parameter>
	<parameter db="secure" name="input_methods_subtype_history"></parameter>
	<parameter db="secure" name="kt_3g_vcc_activate">0</parameter>
	<parameter db="secure" name="kt_3g_vcc_activate_alert">1</parameter>
	<parameter db="secure" name="long_press_timeout">500</parameter>
	<parameter db="secure" name="selected_input_method_subtype">-1</parameter>
	<parameter db="secure" name="sim_type_settings">0</parameter>
	<parameter db="secure" name="subscription_mode">0</parameter>
	<parameter db="secure" name="touch_exploration_enabled">0</parameter>
	<parameter db="secure" name="wifi_country_code">us</parameter>
	<parameter db="secure" name="cdma_only_mode">0</parameter>

	<parameter db="system" name="volume_music">7</parameter>
	<parameter db="system" name="volume_ring">5</parameter>
	<parameter db="system" name="volume_system">4</parameter>
	<parameter db="system" name="volume_voice">4</parameter>
	<parameter db="system" name="volume_alarm">6</parameter>
	<parameter db="system" name="volume_notification">5</parameter>
	<parameter db="system" name="volume_bluetooth_sco">7</parameter>
	<parameter db="system" name="mode_ringer">2</parameter>
	<parameter db="system" name="mode_ringer_streams_affected">130</parameter>
	<parameter db="system" name="mute_streams_affected">46</parameter>
	<parameter db="system" name="dim_screen">1</parameter>
	<parameter db="system" name="stay_on_while_plugged_in">0</parameter>
	<parameter db="system" name="screen_off_timeout">60000</parameter>
	<parameter db="system" name="emergency_tone">0</parameter>
	<parameter db="system" name="call_auto_retry">0</parameter>
	<parameter db="system" name="dtmf_tone_type">0</parameter>
	<parameter db="system" name="hearing_aid">0</parameter>
	<parameter db="system" name="tty_mode">0</parameter>
	<parameter db="system" name="airplane_mode_on">0</parameter>
	<parameter db="system" name="airplane_mode_radios">cell,bluetooth,wifi,nfc</parameter>
	<parameter db="system" name="airplane_mode_toggleable_radios">bluetooth,wifi,nfc</parameter>
	<parameter db="system" name="auto_time">1</parameter>
	<parameter db="system" name="screen_brightness">142</parameter>
	<parameter db="system" name="global_roaming_data_allow_access_values">1</parameter>
	<parameter db="system" name="screen_brightness_mode">1</parameter>
	<parameter db="system" name="window_animation_scale">1.0</parameter>
	<parameter db="system" name="transition_animation_scale">1.0</parameter>
	<parameter db="system" name="accelerometer_rotation">1</parameter>
	<parameter db="system" name="haptic_feedback_enabled">1</parameter>
	<parameter db="system" name="notification_light_pulse">0</parameter>
	<parameter db="system" name="set_install_location">0</parameter>
	<parameter db="system" name="default_install_location">0</parameter>
	<parameter db="system" name="power_sounds_enabled">1</parameter>
	<parameter db="system" name="low_battery_sound">/system/media/audio/ui/LowBattery.ogg</parameter>
	<parameter db="system" name="dock_sounds_enabled">0</parameter>
	<parameter db="system" name="desk_dock_sound">/system/media/audio/ui/Dock.ogg</parameter>
	<parameter db="system" name="desk_undock_sound">/system/media/audio/ui/Undock.ogg</parameter>
	<parameter db="system" name="car_dock_sound">/system/media/audio/ui/Dock.ogg</parameter>
	<parameter db="system" name="car_undock_sound">/system/media/audio/ui/Undock.ogg</parameter>
	<parameter db="system" name="lockscreen_sounds_enabled">0</parameter>
	<parameter db="system" name="lock_sound">/system/media/audio/ui/Lock.ogg</parameter>
	<parameter db="system" name="unlock_sound">/system/media/audio/ui/Unlock.ogg</parameter>
	<parameter db="system" name="vibrate_in_silent">1</parameter>
	<parameter db="system" name="gesture_video_player">0</parameter>
	<parameter db="system" name="lg_needs_activation">1</parameter>
	<parameter db="system" name="lg_hidden_w2bi_set">0</parameter>
	<parameter db="system" name="vzw_hidden_feature_cable_pbook_sync">0</parameter>
	<parameter db="system" name="vzw_hidden_feature_wifi">0</parameter>
	<parameter db="system" name="vzw_hidden_feature_camera">1</parameter>
	<parameter db="system" name="vzw_hidden_feature_otadm">1</parameter>
	<parameter db="system" name="start_ip">192.168.1.2</parameter>
	<parameter db="system" name="end_ip">192.168.1.254</parameter>
	<parameter db="system" name="mask">255.255.255.0</parameter>
	<parameter db="system" name="gateway">192.168.1.1</parameter>
	<parameter db="system" name="dns_server">151.197.0.38</parameter>
	<parameter db="system" name="fm_svcst_bluetooth_fm_receiver_service">1</parameter>
	<parameter db="system" name="network_change_auto_retry">0</parameter>
	<parameter db="system" name="fm_svcst_bluetooth_fm_transmitter_service">1</parameter>
	<parameter db="system" name="fm_svcst_init">1</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_bpp_service">0</parameter>
	<parameter db="system" name="assist_dial_init_db_check">1</parameter>
	<parameter db="system" name="assist_dial_reference_country">0</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_dun">0</parameter>
	<!--parameter db="system" name="lg_nosrv_global_popup">0</parameter-->
	<parameter db="system" name="bt_svcst_bluetooth_ftp">1</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_opp_service">1</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_pbap">1</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_sap">0</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_map">1</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_test">1</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_avrcp">1</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_flick">0</parameter>
	<parameter db="system" name="bt_svcst_init">1</parameter>
	<parameter db="system" name="vibrate_on">10</parameter>
	<!--parameter db="system" name="assist_dial_ota_mcc">310</parameter-->
	<parameter db="system" name="multi_sim_voice_call">0</parameter>
	<parameter db="system" name="multi_sim_data_call">0</parameter>
	<parameter db="system" name="multi_sim_sms">0</parameter>
	<!--parameter db="system" name="assist_dial_ota_sid">0</parameter-->
	<parameter db="system" name="next_alarm_formatted"></parameter>
	<parameter db="system" name="gesture_all_editor">0</parameter>
	<parameter db="system" name="gesture_home_rearrange">0</parameter>
	<parameter db="system" name="gesture_voice_call">0</parameter>
	<parameter db="system" name="gesture_alarm">0</parameter>
	<parameter db="system" name="gesture_image_viewer">0</parameter>
	<parameter db="system" name="gesture_image_panning">0</parameter>

	<parameter db="system" name="auto_time_zone">1</parameter>
	<parameter db="system" name="autorun_switch">1</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_dm_service">1</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_fm_receiver_service">0</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_hdp">0</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_hid">0</parameter>
	<parameter db="system" name="bt_svcst_bluetooth_pan">0</parameter>
	<parameter db="system" name="car_home_auto_launch">1</parameter>
	<parameter db="system" name="date_format"></parameter>
	<parameter db="system" name="desk_home_auto_launch">1</parameter>
	<parameter db="system" name="dhcp_server">0</parameter>
	<parameter db="system" name="dtmf_tone">1</parameter>
	<parameter db="system" name="front_key_light_prevalue">1500</parameter>
	<parameter db="system" name="gesture_tilt_default_use">1</parameter>
	<parameter db="system" name="gesture_tilt_value">2</parameter>
	<parameter db="system" name="media_home_auto_launch">1</parameter>
	<parameter db="system" name="pointer_speed">0</parameter>
	<parameter db="system" name="pouch_clock">0</parameter>
	<parameter db="system" name="pouch_clock_font">0</parameter>
	<parameter db="system" name="pouch_clock_mode">0</parameter>
	<parameter db="system" name="pouch_clock_position">0</parameter>
	<parameter db="system" name="pouch_mode_auto_launch">1</parameter>
	<parameter db="system" name="pouch_new_event">0</parameter>
	<parameter db="system" name="pouch_preset_or_custom">0</parameter>
	<parameter db="system" name="pouch_preset_screen_image_path">0</parameter>
	<parameter db="system" name="power_save_animations">0</parameter>
	<parameter db="system" name="power_save_battery_indicator">0</parameter>
	<parameter db="system" name="power_save_brightness">20</parameter>
	<parameter db="system" name="power_save_brightness_adjust">1</parameter>
	<parameter db="system" name="power_save_brightness_mode">1</parameter>
	<parameter db="system" name="power_save_bt">1</parameter>
	<parameter db="system" name="power_save_gps">1</parameter>
	<parameter db="system" name="power_save_mode">30</parameter>
	<parameter db="system" name="power_save_mode_activated">0</parameter>
	<parameter db="system" name="power_save_nfc">1</parameter>
	<parameter db="system" name="power_save_started">-1</parameter>
	<parameter db="system" name="power_save_sync">0</parameter>
	<parameter db="system" name="power_save_wifi">1</parameter>
	<parameter db="system" name="prefix_length">24</parameter>
	<parameter db="system" name="sound_effects_enabled">0</parameter>
	<parameter db="system" name="tethering_time">-1</parameter>
	<parameter db="system" name="usb_ask_on_connection">0</parameter>
	<parameter db="system" name="usb_connected_sound">/system/media/audio/ui/LG_Cable_Connect.ogg</parameter>
	<parameter db="system" name="wifi_activation_while_charging">0</parameter>
	<parameter db="system" name="wifi_large_file_transfer_appstore">1</parameter>
	<parameter db="system" name="wifi_large_file_transfer_browser">1</parameter>
	<parameter db="system" name="wifi_large_file_transfer_email">1</parameter>
	<parameter db="system" name="wifi_large_file_transfer_gallery">1</parameter>

	<parameter db="system" name="power_save_cpu_adjust">1</parameter>
	<parameter db="system" name="power_save_cpu">1</parameter>
	<parameter db="system" name="power_save_enabled">0</parameter>
	<parameter db="system" name="power_save_touch">1</parameter>
	<parameter db="system" name="power_save_screen_timeout">15000</parameter>
	<parameter db="system" name="power_save_screen_timeout_adjust">1</parameter>
	<parameter db="system" name="power_save_front_led">1500</parameter>
	<parameter db="system" name="power_save_front_led_adjust">1</parameter>
	<parameter db="system" name="power_save_wifi_restore">0</parameter>
	<parameter db="system" name="power_save_sync_restore">0</parameter>
	<parameter db="system" name="power_save_bt_restore">0</parameter>
	<parameter db="system" name="power_save_nfc_restore">0</parameter>
	<parameter db="system" name="power_save_touch_restore">0</parameter>
	<parameter db="system" name="power_save_screen_timeout_restore">1</parameter>
	<parameter db="system" name="power_save_cpu_restore">-1</parameter>
	<parameter db="system" name="power_save_brightness_restore">-1</parameter>
	<parameter db="system" name="power_save_front_led_restore">-1</parameter>
	<parameter db="system" name="eco_mode">0</parameter>
	<parameter db="system" name="pouch_mode_auto_launch_missed_call">1</parameter>
	<parameter db="system" name="pouch_mode_auto_launch_message">1</parameter>
	<parameter db="system" name="pouch_mode_auto_launch_voice_message">1</parameter>
	<parameter db="system" name="pouch_mode_auto_launch_calendar_events">0</parameter>
	<parameter db="system" name="pouch_mode_auto_launch_email">0</parameter>

	<parameter db="system" name="vzw_gb_ics_upgrade">0</parameter>

</parameters>
